# Maven build output
**/target/
**/target/**/*

# Java compiled files
**/*.class
**/*.jar

# IDE files
.settings/
.project
.classpath
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Generated manifest files
**/META-INF/MANIFEST.MF
